{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>User Dashboard</h1>
    </header>

    <div class="container">
        <h2>Welcome to your Dashboard!</h2>
        <p>This is your personalized dashboard where you can manage your activities.</p>
        <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
        </li>
    </div>
</body>
</html>
